<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ url_for('static', filename='plugins/fontawesome-free/css/all.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/adminlte.min.css') }}">
  {% block head %}{% endblock %}
</head>
<body class="hold-transition layout-top-nav">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#" class="navbar-brand">
          <img src="{{ url_for('static', filename='dist/img/logo.png') }}" alt="Bugs" class="brand-image img-circle elevation-3" style="opacity: .8">
        </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ url_for('view.home') }}" class="nav-link">Overview</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ url_for('view.repos_list') }}" class="nav-link">Repositories</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ url_for('view.vulns_list') }}" class="nav-link">Vulnerabilities</a>
      </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('view.logout') }}" role="button">
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
    </ul>
  </nav><!-- /.navbar -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content %}{% endblock %}
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    Copyright &copy; 2014-2021 AdminLTE.io.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='dist/js/adminlte.min.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>
