{% extends "base.html" %}
{% block title %}Repositories{% endblock %}
{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Repositories</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <table id="table1" class="table table-bordered table-head-fixed table-hover">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Critical</th>
                    <th>High</th>
                    <th>Moderate</th>
                    <th>Low</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for r in repos %}
                    <tr>
		      <td><a href="{{ url_for('view.repo_show', name=r.repository_name) }}">{{ r.repository_name }}</a></td>
		      <td>{{ r.total_critical }}</td>
		      <td>{{ r.total_high }}</td>
		      <td>{{ r.total_moderate }}</td>
		      <td>{{ r.total_low }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block js %}
<!-- DataTables  & Plugins -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<!-- Page specific script -->
<script>
  $(document).ready(function() {
      $('#table1').DataTable( {
          "order": [[ 1, "desc" ],[ 2, "desc" ],[ 3, "desc" ],[ 4, "desc" ]]
      } );
  });
</script>
{% endblock %}
