{% extends "base.html" %}
{% block title %}Repository Details{% endblock %}
{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Repository Details</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-text"><strong>Link:</strong> <a href="{{ repo.link }}" target="_blank">{{ repo.link }}</a></h5>
              </div><!-- /.card-body -->
            </div><!-- /.card -->
          </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">Vulnerability Report</h5>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="chart">
                      <!-- Stacked Chart -->
                      <canvas id="stackedBarChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div><!-- /.chart-responsive -->
                  </div><!-- /.col -->
                  <div class="col-md-4">
                    <div class="chart">
                      <!-- Pie Chart -->
                      <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div><!-- /.chart-responsive -->
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- ./card-body -->
            </div><!-- /.card -->
          </div><!-- /.col -->
        </div><!-- /.row -->

        </div><!-- /.row -->
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">List of Vulnerabilities</h3>
              </div><!-- /.card-header -->
              <div class="card-body">
                <table id="table1" class="table table-bordered table-head-fixed table-hover">
                  <thead>
                  <tr>
                    <th>Severity</th>
                    <th>Package System</th>
                    <th>Package Name</th>
                    <th>Summary</th>
                    <th>Link</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for vuln in vulns %}
                    <tr>
  		      <td>{{ vuln.severity }}</td>
		      <td>{{ vuln.pkg_system }}</td>
		      <td>{{ vuln.pkg_name }}</td>
		      <td>{{ vuln.summary }}</td>
		      <td><a href="{{ vuln.link }}" target="_blank">{{ vuln.link }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block js %}
<!-- ChartJS -->
<script src="{{ url_for('static', filename='plugins/chartjs/chart.min.js') }}"></script>
<!-- DataTables  & Plugins -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<!-- Page specific script - ChartJS -->
<script>
  $(function () {
    //---------------------
    //- STACKED BAR CHART -
    //---------------------
    var stackedBarChartCanvas = document.getElementById('stackedBarChart');
    const labels = {{ stats['stacked']['labels'] | safe }};
    const stackedBarChartData = {
      labels  : labels,
      datasets: [
        {
          label               : 'LOW',
          data                : {{ stats['stacked']['low'] }},
          backgroundColor     : 'rgb(57, 181, 74)'
        },
        {
          label               : 'MODERATE',
          data                : {{ stats['stacked']['moderate'] }},
          backgroundColor     : 'rgb(249, 211, 52)'
        },
        {
          label               : 'HIGH',
          data                : {{ stats['stacked']['high'] }},
          backgroundColor     : 'rgb(247, 147, 30)'
        },
        {
          label               : 'CRITICAL',
          data                : {{ stats['stacked']['critical'] }},
          backgroundColor     : 'rgb(193, 39, 45)'
        },
      ]
    }


    const stackedBarChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      plugins: {
        legend: {
          display: false
        }
      },
      scales: {
        x: {
          stacked: true,
        },
        y: {
          stacked: true
        }
      }
    }

    var stackedBar = new Chart(stackedBarChartCanvas, {
      type: 'bar',
      data: stackedBarChartData,
      options: stackedBarChartOptions
    })
  })
</script>
<!-- Page specific script - ChartJS -->
<script>
  $(function () {
    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var pieChartCanvas = document.getElementById('pieChart');
    const pieData      = {
      labels: [
          'CRITICAL',
          'HIGH',
          'MODERATE',
          'LOW',
      ],
      datasets: [
        {
          data: {{ stats['pie'] }},
          backgroundColor : [
            'rgb(193, 39, 45)',
            'rgb(247, 147, 30)',
            'rgb(249, 211, 52)',
            'rgb(57, 181, 74)'
	  ],
        }
      ]
    }
    const pieOptions   = {
      maintainAspectRatio : false,
      responsive : true,
      plugins: {
        legend: {
          display: true,
          position: 'right'
        }
      },
    }
    var pieChart = new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    })
  })
</script>
<!-- Page specific script - DataTable -->
<script>
  $(document).ready(function() {
      $('#table1').DataTable( {
          "order": [[ 0, "asc" ]]
      } );
  });
</script>
{% endblock %}
