{% extends "base.html" %}
{% block title %}Vulnerabilities{% endblock %}
{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Vulnerabilities</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Vulnerabilities from all repositories</h3>
              </div><!-- /.card-header -->
              <div class="card-body">
                <table id="table1" class="table table-bordered table-head-fixed table-hover">
                  <thead>
                  <tr>
                    <th>Severity</th>
                    <th>Package System</th>
                    <th>Package Name</th>
                    <th>Summary</th>
                    <th>Repository</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for vuln in vulns %}
                    <tr>
  		      <td>{{ vuln.severity }}</td>
		      <td>{{ vuln.pkg_system }}</td>
		      <td>{{ vuln.pkg_name }}</td>
		      <td>{{ vuln.summary }}</td>
		      <td><a href="{{ url_for('view.repo_show', name=vuln.repository.name) }}">{{ vuln.repository.name }}</a></td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block js %}
<!-- DataTables  & Plugins -->
<script src="{{ url_for('static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
<!-- Page specific script -->
<script>
  $(document).ready(function() {
      $('#table1').DataTable( {
          "order": [[ 0, "asc" ]]
      } );
  });
</script>
{% endblock %}
